<section ng-controller="historyController">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        History Search</h3><i ng-click="orderHistoy()" id="iconOrder" class="glyphicon glyphicon-chevron-down pull-right" style="    margin-top: -10px;
    cursor: pointer;" aria-hidden="true"></i>
                </div>
                <ul class="list-group">
                    <li ng-click="searchChilds(ap.id)" class="list-group-item history-text"  ng-repeat="(pos,ap) in apod">
                        <span  id="hspan{{ap.id}}">{{ap.date}}</span>
                        <button type="button"  class="close pull-right" aria-label="Close" ng-click="deleteApod(ap.id,pos,$event)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
        <div class="row">
        <div class="timeline-centered" id="historyTimeContent">
            <article class="timeline-entry" ng-repeat="dataRepeat in apodChilds">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon bg-warning">
                        <i class="entypo-camera"></i>
                    </div>
                    <div class="timeline-label">
                        <time class="timeline-time"><span class="label label-primary" >{{dataRepeat.date}}</span> </time>

                        <h2>{{dataRepeat.title}}</h2>
                        <blockquote>{{dataRepeat.explanation}}</blockquote>
                        <div class="row">
                            <a href="{{dataRepeat.url}}" target="_blank" class="btn btn-primary pull-right">View Media</a>
                        </div>                        
                    </div>
                </div>
            </article>    
        </div>
    </div>
        </div>
</section>
