<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/bower_component/sweetalert/dist/sweetalert.css"/>
    <!-- Angular Assets --> 
    <script type="text/javascript" src="/bower_component/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_component/angular-route/angular-route.min.js"></script>    
    <script type="text/javascript" src="/bower_component/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
   

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css?v=#{ new Date().getTime()}"/>
</head>

<body ng-app="myapp" class="container-fluid" >   
  <input type="hidden" id="port" value="#{ root.puerto }">
  <header id="header" >
        <h1>#{root.title}</h1>
        <h3>#{root.subtitle}</h3>
  </header>
  <section class="main ">
    <nav id="navbar"  ng-controller="navController" >
      <ul class="nav nav-pills nav-stacked">
          <li role="presentation" ng-class="{active : activeMenu==1 }"><a ng-click="setActive(1)" href="#search">Search</a></li>
          <li role="presentation" ng-class="{active : activeMenu==2 }" ><a ng-click="setActive(2)" href="#history">History</a></li>
      </ul>      
    </nav>
    <section id="contenido"  >
        <div ng-view>
        </div>
    </section>
  </section>   

    <script src="javascripts/app.js?v=#{ new Date().getTime()}" lang="javascript" type="text/javascript"></script>
    <script src="javascripts/controller.js?v=#{ new Date().getTime()}" lang="javascript" type="text/javascript"></script>
    <script type="text/javascript" src="/bower_component/sweetalert/dist/sweetalert.min.js"></script>    
    <script type="text/javascript" src="/bower_component/moment/min/moment.min.js"></script>     
</body>

</html>
