<div class="form-group" ng-controller="searchController">
    <div class="row">
    <button uib-tooltip="Clean" ng-click="clearSearch()" class="btn btn-success"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        <div class="input-group-btn" role="group">
            <form class="input-group" name="myForm" ng-submit="drawSearch($event)">
                <input id="inputdate" name="inputdate" ng-click="open1()" placeholder="Select a date." type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="date" required readonly="true
                                  " style="cursor:pointer" />
                <button uib-tooltip="New Search" type="submit" ng-disabled="myForm.$invalid" id="btn-date" class="btn btn-primary"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
        </div>
    </div>
    <div class="row">
        <h2 id="h2search"> {{name}}</h2></div>
    <div class="row">
        <div class="timeline-centered" id="timelineContent">
            <article class="timeline-entry" ng-repeat="dataRepeat in datapush">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon bg-warning">
                        <i class="entypo-camera"></i>
                    </div>
                    <div class="timeline-label">
                        <time class="timeline-time"><span class="label label-primary">{{dataRepeat.date}}</span> </time>
                        <h2>{{dataRepeat.title}}</h2>
                        <blockquote>{{dataRepeat.explanation}}</blockquote>
                        <div class="row">
                            <a href="{{dataRepeat.url}}" target="_blank" class="btn btn-primary pull-right">View Media</a>
                        </div>
                    </div>
                </div>
            </article>
            <!--           <article class="timeline-entry begin">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                        <i class="entypo-flight"></i>
                    </div>
                </div>
            </article> -->
        </div>
    </div>
</div>
